<script setup lang="ts">
import BaseCard from "./BaseCard.vue";
import AssetToken from "./AssetToken.vue";
import { computed } from "vue";
import type { UserEvents, SupportedAssets } from "../types";
const props = defineProps<{
  address: string;
  eventType: UserEvents;
  asset: SupportedAssets;
  amount: string;
  usd: string;
  date: string;
}>();

const message = computed(() => {
  if (props.eventType === "deposit") {
    return `Deposited ${props.amount} ${props.asset} for a value of ${props.usd}`;
  }
  return `Withdrawn ${props.amount} ${props.asset} for a value of ${props.usd}`;
});
</script>

<template>
  <BaseCard>
    <div class="flex gap-4">
      <AssetToken :asset="props.asset" />
      <ul component-test-address-event>
        <li class="font-medium" component-test-address>
          Address: {{ props.address }}
        </li>
        <li class="font-light" component-test-date>
          On date: <em>{{ props.date }}</em>
        </li>
        <li component-test-message>
          {{ message }}
        </li>
      </ul>
    </div>
  </BaseCard>
</template>
