<script setup lang="ts">
import BaseCard from "./BaseCard.vue";
import AssetToken from "./AssetToken.vue";
import { SupportedAssets } from "../types";

const props = defineProps<{
  asset: SupportedAssets;
  amount: string;
  usd: string;
  percentage: string;
}>();
</script>

<template>
  <BaseCard test-component-asset-balance-item>
    <div class="flex items-center gap-3">
      <AssetToken :asset="props.asset" />
      <div class="grid md:(grid-cols-2 gap-2)">
        <div test-component-asset-balance-amount>
          Amount: <strong class="font-medium">{{ props.amount }}</strong>
        </div>
        <div test-component-asset-balance-usd>
          USD Value: <strong class="font-medium">{{ props.usd }}</strong>
        </div>
        <div test-component-asset-balance-percentage>
          Percentage:
          <strong class="font-medium">{{ props.percentage }}%</strong>
        </div>
      </div>
    </div>
  </BaseCard>
</template>
