<script setup lang="ts">
import { computed } from "vue";
import { assetToUrl } from "../types";
import type { SupportedAssets } from "../types";

const props = defineProps<{
  asset: SupportedAssets;
}>();

const url = computed(
  () =>
    assetToUrl.get(props.asset) ??
    "https://s.gravatar.com/avatar/da32ff79613d46d206a45e5a3018acf3?size=256&default=retro"
);
</script>

<template>
  <div class="p-3 flex flex-col items-center gap-2" test-component-asset-token>
    <img
      class="w-8 rounded-full"
      test-component-asset-icon
      :src="url"
      :alt="props.asset"
    />
    <label class="font-bold text-sm" test-component-asset-token-label>{{
      props.asset
    }}</label>
  </div>
</template>
