<script setup lang="ts">
import QueryLoader from "./QueryLoader.vue";
import BalancesList from "./BalancesList.vue";

import { computed, onMounted, watch } from "vue";
import { useQuery } from "@tanstack/vue-query";

import { getResource } from "../fetch";
import { queryToAddressBalanceArray } from "../converters";

import { useBalances } from "../composables/useBalances";

import type { Balances } from "../types";

const props = defineProps<{
  url: string;
}>();

// Query
const { isLoading, isError, data, error } = useQuery<Balances, Error>({
  queryKey: ["balances", props.url],
  queryFn: () => getResource(props.url),
});

// Transform the query result into an array
const wallets = computed(() => queryToAddressBalanceArray(data));

// Balances
const { balances, totalUSDValue, calcBalances } = useBalances(wallets);

// Run computation on component mount (cached data)
onMounted(calcBalances);

// Run computation if we loaded something and there wasn't an error
watch(isLoading, () => {
  if (!isLoading.value && !isError.value) {
    calcBalances();
  }
});
</script>

<template>
  <QueryLoader
    :is-loading="isLoading"
    :is-error="isError"
    :error-message="error?.message"
  >
    <h2 class="font-bold text-xl">Balances</h2>
    <BalancesList :total-balance="totalUSDValue" :list="balances" />
  </QueryLoader>
</template>
