<script setup lang="ts">
import AssetBalance from "./AssetBalance.vue";

import { calcPercentage } from "../helpers";
import { numberFormatter, usdFormatter } from "../formatters";

import type { AssetInfo } from "../types";

const props = defineProps<{
  list: AssetInfo[];
  totalBalance: number;
}>();

const formatedPercentage = (value: number) =>
  numberFormatter.format(calcPercentage(value, props.totalBalance));
</script>

<template>
  <div class="p-3" test-component-balances-list-wrapper>
    <h2 class="text-lg" test-component-balances-list-total-balance>
      Total balance is:
      <strong class="font-bold">{{
        usdFormatter.format(props.totalBalance)
      }}</strong>
    </h2>
    <ul
      v-auto-animate
      class="list-disc list-outside p-3"
      test-component-balances-list
    >
      <li v-for="item in props.list" :key="item.asset" class="not-first:mt-3">
        <AssetBalance
          :asset="item.asset"
          :amount="numberFormatter.format(item.amount)"
          :usd="usdFormatter.format(item.usd_value)"
          :percentage="formatedPercentage(item.usd_value)"
        />
      </li>
    </ul>
  </div>
</template>
