<script setup lang="ts">
import AddressEvent from "./AddressEvent.vue";

import { computed, ref } from "vue";
import { format, fromUnixTime } from "date-fns";

import { numberFormatter, usdFormatter, addressFormatter } from "../formatters";

import type { AddressEvents } from "../types";

const props = defineProps<{
  list: AddressEvents[];
}>();

const selectedAddress = ref("");
const availableAddresses = computed(() => props.list.map((i) => i.address));

const filteredList = computed(() => {
  if (selectedAddress.value === "") {
    return props.list;
  }
  return props.list.filter((i) => i.address === selectedAddress.value);
});

const timestampToDate = (timestamp: number) =>
  format(fromUnixTime(timestamp), "dd LLLL yyyy");
</script>

<template>
  <div class="flex flex-col gap-3 p-3" test-component-events-list-wrapper>
    <div
      class="flex gap-2 flex-col lg:(flex-row justify-between)"
      test-component-events-list-filter
    >
      <label class="text-lg" test-component-events-list-active-filter
        >Showing events for:
        <strong class="font-medium">{{
          selectedAddress === ""
            ? "All addresses"
            : addressFormatter(selectedAddress)
        }}</strong></label
      >
      <select
        v-model="selectedAddress"
        class="p-2 text-dark-400 bg-light-900 border-dark-400/10 rounded dark:(bg-dark-300 text-light-800 border-light-600/10)"
        test-component-events-list-select
      >
        <option value="">All</option>
        <option
          v-for="opt in availableAddresses"
          :key="`opt-${opt}`"
          :value="opt"
        >
          {{ addressFormatter(opt) }}
        </option>
      </select>
    </div>
    <ol
      v-auto-animate
      class="list-decimal list-outside p-3"
      test-component-events-list
    >
      <template v-for="item in filteredList">
        <li
          v-for="event in item.events"
          :key="`${item.address}-${event.event_type}-${event.timestamp}`"
          class="not-first:mt-3"
        >
          <AddressEvent
            :address="addressFormatter(item.address)"
            :event-type="event.event_type"
            :asset="event.asset"
            :amount="numberFormatter.format(Number(event.value.amount))"
            :usd="usdFormatter.format(Number(event.value.usd_value))"
            :date="timestampToDate(event.timestamp)"
          />
        </li>
      </template>
    </ol>
  </div>
</template>
