<script setup lang="ts">
import QueryLoader from "./QueryLoader.vue";
import EventsList from "./EventsList.vue";

import { computed } from "vue";
import { useQuery } from "@tanstack/vue-query";

import { getResource } from "../fetch";
import { queryToAddressEventsArray } from "../converters";

import type { Events } from "../types";

const props = defineProps<{
  url: string;
}>();

// Query
const { isLoading, isError, data, error } = useQuery<Events, Error>({
  queryKey: ["events", props.url],
  queryFn: () => getResource(props.url),
});

const addressEvents = computed(() => queryToAddressEventsArray(data));
</script>

<template>
  <QueryLoader
    :is-loading="isLoading"
    :is-error="isError"
    :error-message="error?.message"
  >
    <h2 class="font-bold text-xl">Events</h2>
    <EventsList :list="addressEvents" />
  </QueryLoader>
</template>
