<script setup lang="ts">
import BaseCard from "./BaseCard.vue";
const props = defineProps<{
  isLoading: boolean;
  isError: boolean;
  errorMessage?: string;
}>();
</script>

<template>
  <BaseCard class="min-h-sm">
    <span v-if="props.isLoading">Loading...</span>
    <span v-else-if="props.isError">Error: {{ errorMessage }}</span>
    <slot v-else />
  </BaseCard>
</template>
