<script setup lang="ts">
import BalancesPane from "./components/BalancesPane.vue";
import EventsPane from "./components/EventsPane.vue";
const balances = import.meta.env.VITE_BALANCES_ENDPOINT;
const events = import.meta.env.VITE_EVENTS_ENDPOINT;
</script>

<template>
  <div
    class="min-h-screen bg-hero-tic-tac-toe text-dark-500 bg-light-800 dark:(bg-dark-500 text-light-800)"
  >
    <div class="grid gap-5 p-3 m-auto md:(grid-cols-2 w-3/4) lg:w-2/3">
      <BalancesPane :url="balances" />
      <EventsPane :url="events" />
    </div>
  </div>
</template>
